.section-advice {
    background-color: white;
    text-align: center;
    padding: 30px

}

.advice-title {
    padding: 15px 0
}

.hr-advice {
    margin: 50px 70px;
    border-width: 2px;
}

.advice-svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    align-content: center;
    margin-top: 65px;
    color: blue;
  fill: currentColor;
}

