footer {
    background-color: #414141;
    color: white;
    text-align: center;

}

.footer-cols{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-text{
    border-left: 2px solid red;
}

.footer-cols img {
    width: 40px;
    margin: 15px;
}

.footer-row {
    text-align: center;
}

.p-copyright {
    margin-bottom: 0;
}

.footer-section-3 img{
    width: 60px;
    margin: 15px;
}

.footer-cols-text {
    border-left: 2px solid
}